<h1>Here are your battlefields</h1>
<bootstrap-location>
    <ng-container id="location">
        <h2>Titan</h2>
    </ng-container>
    <div id="location-description">
        <p>Titan is the planet where Thanos is from</p>
        <strong>marvel</strong>
    </div>
</bootstrap-location>
<bootstrap-location>
    <ng-container id="location">
        <h2>Yondu's ship</h2>
    </ng-container>
    <div id="location-description">
        <p>Yondu and his crew live on Yondu's ship</p>
        <strong>marvel</strong>
    </div>
</bootstrap-location>