<h1>{{title}}</h1>
<h2>Heroes and Villians</h2>
<button [style.background-color]="'#00f'" class="btn btn-primary" (click)=loadHeroes()>Load Heroes</button>
<div [hidden]="post.heroes.length===0">
    Heros:
    <hero [heroes]="post.heroes"></hero>
</div>
<div [hidden]="post.heroes.length>0">
    You do not have any heroes   
</div>
<villain></villain>
<feedback [goodReview]="post.goodReview" (change)="onFeedbackChange($event)"></feedback>
<span class="glyphicon glyphicon-user"></span>
<bootstrap-location >
    <ng-container id="location">
        <h2>Titan</h2>
    </ng-container>
    <div id="location-description">
        <p>Titan is the planet where Thanos is from</p>
        <strong>marvel</strong>
    </div>
</bootstrap-location>
<superman-feedback [votes]="post.numberOfVotes"></superman-feedback>
<br>
<equipment></equipment>