<strong>{{ "These are your " + heroes.length + " " + title}}</strong> <br>
<img [src]="imageURL" />
<br>
{{whatAreMyHeroes | shorten:9}}
<br>
<table>
    <ul>
        <tr><li *ngFor="let hero of heroes; even as isEven; trackBy: trackHero">
            <td > <h2>Hero: </h2></td>
            <td>
                <h2>{{hero.name | lowercase}}</h2>
                <br>Rating out of 10: {{hero.rating | number:'1.2-2'}}
                <br>Attack Strength out of 1,000,000: {{hero.attackStrength | number}}
                <br>Defend Strength out of 1,000,000: {{hero.defendStrength | number}}
                <br>Date of Birth: {{hero.birthday | date:'short'}}
                <br>
                <span *ngIf="isEven">If Thanos were to snap, this character would Die</span>
                <span *ngIf="!isEven">If Thanos were to snap, this character would Survive</span>
                <br>
                <button (click)="removeHero(hero)"> Remove</button>
            </td>
        </li></tr>
    </ul>
</table>
<add-hero [superHeroComponent]="this" [btnStyleOn]="blue" [defaultText]="dummyText"></add-hero>

