<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<h2>What did you think of this app?</h2>
<input [(ngModel)]="feedbackText" (keyup)="updateFeedbackText($event)">
{{feedbackText | titleCase}}
<div> 
    <span checkbox class="glyphicon"[ngClass]="{
        'glyphicon-ok': checkedReview,
        'glyphicon-remove':!checkedReview
    }" (click)="toggleReview()"></span>
</div>
<button [ngStyle]="{
    'backgroundColor': canSubmit ? '#080':'#f00',
    'color': canSubmit ? '#fff':'#500',
    'fontWeight': canSubmit ? '#555':'#ff0'
}"> Submit</button>
<br>
<h4>Write your name here</h4>
<input type="text" [appInputFormat]="'uppercase'">
<br>